.burger {
  display: none;
  width: 35px;
  height: 18px;
  cursor: pointer;
  position: relative;
  margin: -2px -3px 0 0;
}

.burger-line {
  display: block;
  width: 32px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  left: 0;
  z-index: 50;
  transition: 0.5s;
}

.burger-line__1 {
  top: 0;
}

.burger-line__2, .burger-line__3 {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line__4 {
  bottom: 0;
}

.burger-active .burger-line__1, .burger-active .burger-line__4 {
  opacity: 0;
}

.burger-active .burger-line__2 {
  transform: translateY(-50%) rotate(45deg);
}

.burger-active .burger-line__3 {
  transform: translateY(-50%) rotate(-45deg);
}

.burger-img {
  position: absolute;
  z-index: 60;
  top: 443px;
  opacity: 0;
  left: -3000px;
  max-width: 658px;
  margin-left: 55px;
  transition: 0.5s;

  .burger-menu__line {
    margin: 30px 0 17px 0;
    height: 3px;
    width: calc(100vw - 109px);
    background: #666666;
  }

  .burger-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
  }
}

.image:nth-child(1) {
  margin-bottom: 16px;
}

.image:nth-child(2) {
  margin-right: 16px;
}

.not-show {
  display: none;
}

.welcome__container .slider-button {
  margin-top: 404px;
}

.burger-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  display: none;
}

.burger-overlay__active {
  display: block;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }

  .menu .menu__item {
    margin: 0 0 24px 55px;
    font-size: 20px;
    background: url("../assets/svg/arrow-burger.svg") no-repeat 110px center;
  }

  .menu .menu__item:first-child {
    margin-top: 35px;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -3000px;
    top: 130px;
    width: 297px;
    height: 585px;
    background: #030303;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 50;
  }

  .burger-menu {
      left: 0;
  }
}

@media (max-width: 768px) {
  .not-show {
    display: block;
  }

  .welcome__container .slider-button {
    margin-top: 544px;
  }

  .burger-menu {
    margin-top: -20px;
    width: 100vw;
    height: 861px;
  }

  .menu .menu__item {
    margin-right: calc(100vw - 200px) !important;
  }

  .burger-img__active {
    left: 0;
    opacity: 1;
  }

  .burger-img img:nth-child(1) {
    width: calc(100vw - 109px);
  }

  .burger-img img:nth-child(2), .burger-img img:nth-child(3) {
    width: calc(50vw - 65px);
  }
}

@media (max-width: 420px) {
  .burger-menu {
    max-width: 420px;
  }
  .welcome__container .slider-button {
    margin-top: 278px;
  }

  .burger {
    margin: -19px -6px 0 0 !important;
  }

  .burger-menu {
    margin-top: -40px;
    width: 100vw;
    height: 530px;
  }

  .menu .menu__item {
    margin-right: 0 !important;
    width: 130px;
  }

  .burger-img {
    top: 423px;

    .burger-social {
      margin: 0;

      .social_column {
        margin: 5px -5px 0 0;

        .social {
          margin: 0 5px 0 0;
        }
      }
    }
  }

  .burger-img img {
    width: calc(50vw - 115px) !important;
    height: calc(100vw - 325px);
    margin: 0 8px 0 0 !important;
    object-fit: cover;
  }

  .burger-img img:nth-child(3) {
    margin-right: 0 !important;
  }

  .burger-img .burger-menu__line {
    margin: 14px 0 17px 0;
    width: calc(100vw - 112px);
  }
}