.contacts-section {
  margin: 0 auto;
  padding-bottom: 75px;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  margin-top: 103px;
  color: #000000;
}

.contacts-title {
  font-family: "Roboto Medium";
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}

.contacts-subtitle {
  font-family: "Roboto Light";
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 24px;
  color: #000000;
}

.contacts-link:hover {
  color: #9D8665;
}

#map {
  position: relative;
  width: 960px;
  height: 620px;
  font-size: 12px;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .map {
    width: calc(100vw - 480px) !important;
    height: calc(65vw - 312px) !important;
  }
}

@media (max-width: 1024px) {
  .contacts-section {
    max-width: 984px;
    margin-bottom: -14px;

    .underline-title:after {
      bottom: -33px;
    }
  }

  .contacts-t {
    margin: 10px 0 0 0;
  }

  .map {
    width: calc(100vw - 330px) !important;
    height: calc(65vw - 212px) !important;
    margin-top: -9px;
  }

  .contacts-title {
    font-size: 24px;
    margin: -11px 0 33px 0;
  }

  .contacts-subtitle {
    font-size: 20px;
    margin-bottom: 14px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .contacts-section {
    max-width: 728px;
    margin-bottom: -8px;

    .underline-title:after {
      bottom: -31px;
      max-width: 768px;
    }
  }

  .contacts-content {
    display: flex;
    flex-direction: column;
  }

  .contacts-t {
    margin: -12px 0 0 0;
  }

  .map {
    width: calc(100vw - 40px) !important;
    height: calc(65vw - 24px) !important;
  }

  .contacts-title {
    font-size: 20px;
    margin: -33px 0 39px 0;
  }

  .contacts-subtitle {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .contacts-subtitle:last-child {
    margin-bottom: 49px;
  }
}

@media (max-width: 420px) {
  .contacts-section {
    max-width: 380px;
    margin-bottom: -36px;

    .underline-title:after {
      bottom: -27px;
    }
  }

  .contacts-content {
    flex-direction: column;
  }

  .contacts-t {
    margin: 5px 0 0 0;
  }

  .map-container {
    margin-top: 47px;
  }

  .map {
    width: calc(100vw - 40px) !important;
    height: calc(65vw - 24px) !important;
    margin-top: -22px;
  }

  .contacts-title {
    font-size: 16px;
    margin: -36px 0 40px 0;
  }

  .contacts-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }
}