.gallery-section {
  padding-bottom: 0;
  padding-top: 76px;
}

.picture-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 2036px;
  overflow-y: hidden;
}

.picture-inner-container {
  max-width: 1440px;
  position: relative;
  height: 3100px;
  margin-top: 77px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.gallery-picture:nth-child(3n+1) {
  order: 1;
}

.gallery-picture:nth-child(3n+2) {
  order: 2;
}

.gallery-picture:nth-child(3n)   {
  order: 3;
}

.picture-inner-container::before,
.picture-inner-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.gallery-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 100%);
}

.gallery-picture {
  width: calc(33.3% - 24px);
  display: inline-block;
  margin: 0 0 20px;

  transform: translate(0, 120%) scale(0.7);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.gallery-picture__active {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}

.gallery-picture__size {
  width: 100%;
}

.gallery-picture__one-column, .gallery-picture__three-column {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .gallery-title {
    margin-top: -6px;
  }

  .picture-inner-container {
    height: 3100px;
    margin-top: 70px;
  }

  .picture-container {
    height: 1335px;
  }

  .gallery-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55%, #000000 100%);
  }
}

@media (max-width: 768px) {
  .gallery-title {
    margin-top: -28px;
  }

  .picture-inner-container {
    height: 5100px;
    margin-top: 48px;
  }

  .picture-container {
    height: 1128px;
  }

  .gallery-picture {
    width: calc(50% - 12px);
  }

  .gallery-picture:nth-child(2n+1) {
    order: 1;
  }

  .gallery-picture:nth-child(2n) {
    order: 2;
  }

  .picture-inner-container::before,
  .picture-inner-container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
  }

  .gallery-picture__three-column {
    margin-top: 0;
  }

  .gallery-picture__three-column {
    margin-right: 24px;
  }
}

@media (max-width: 420px) {
  .gallery-title {
    margin-top: -32px;
  }

  .picture-inner-container {
    margin-top: 45px;
  }

  .picture-container {
    height: 682px;
  }
}

