@font-face {
    font-family: Forum Regular;
    src: url(../assets/fonts/Forum-Regular.ttf);
}
@font-face {
    font-family: Roboto Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto Thin;
    src: url(../assets/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto Medium;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto Light;
    src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto Bold;
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Roboto Regular";
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.music-container {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: end;
    background: rgba(0, 0, 1, 0.9);
    z-index: 2000;
    border-bottom: 1px solid #B3B3B3;
}

.current-date {
    width: 100%;
    font-family: "Roboto Thin";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #B3B3B3;
    padding-left: 5px;
}

.music {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 220px;
    height: 30px;
    transition: 1s;
}

.music-left, .music-play, .music-right {
    width: 100%;
    transition: 1s;
    margin-left: 20px;

    img {
        width: 15px;
    }
}

.music-left:hover, .music-play:hover, .music-right:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.header {
    background-color: #030303;
    margin-bottom: -1px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 0 20px;
}

.logo {
    display: flex;
    transition: 1s;

    .logo__name {
        margin: 0 0 0 25px;
        text-transform: uppercase;
        font-family: "Forum Regular";
        font-size: 28px;
        font-weight: 300;
        letter-spacing: 5px;
    }
}

.logo:hover {
    color: #9D8665;
    cursor: pointer;

    .social-icon path {
        fill: #9D8665;
    }

    .icon {
        transition: 1s;
    }
}

.menu {
    max-width: 775px;

    .menu__item {
        margin: 62px 56px 62px 0;
        font-family: "Roboto Thin";
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 2px;
        transition: 1s;
    }

    .menu__item:last-child {
        margin-right: 0;
    }
}

.navigation {
    transition: 1s;
}

.navigation:hover {
    color: #9D8665;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.section {
    padding: 76px 20px 75px 20px;
    color: #9D8665;
}

.dark-section {
    background-color: #030303;
    color: #FFFFFF;
}

.title {
    margin: 0;
    font-family: "Forum Regular";
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    z-index: 30;
}

.subtitle {
    margin: 0;
    font-family: "Roboto Light";
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
}

.welcome__container {
    padding-bottom: 60px;
}

.welcome__content {
    position: absolute;
    z-index: 3;
    margin-top: calc(10% - 120px);
    pointer-events: none;
}

.welcome-title {
    margin: 75px 0 26px 0;
    position: relative;
}

.welcome-subtitle {
    margin: 0 0 75px 0;
    position: relative;
    z-index: 2;
}

.welcome-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Light";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    max-width: 360px;
    height: 75px;
    background: #710707;
    border-radius: 10px;
    margin-bottom: 195px;
    transition: 1s;
}

.welcome-button:hover {
    background: #9D8665;
}

.img-container {
    width: calc(100% - 440px);
    margin-top: -76px;
}

.img-container {
    .slider-gradient {
        position: relative;
        left: 440px;
    }
    .slider-gradient:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
        z-index: 2;
    }
}

.welcome__one-slide {
    display: none;
}

.welcome__slide-active {
    display: block;
}

.slider-img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.welcome-slider {
    position: relative;
    display: flex;
    align-items: center;
    float: right;
    padding: 46px 0 0 0;
    margin-top: -60px;
    background: #030303;
    font-size: 22px;
    z-index: 3;
}

.welcome-slider__current-slide {
    padding-left: 75px;
}

.slide-count-separator {
    margin: 0 11px 0 10px;
}

.welcome-slider__navigation {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    margin-left: 25px;
    transition: 0.5s;
}

.welcome-slider__navigation:hover {
    background: #9d8665;
    transform: scale(1.1);
    cursor: pointer;
}

.welcome__slide-active {
    background: #D2B183;
}

.navigation-one {
    margin-left: 56px;
}

.navigation-five {
    margin-right: 53px;
}

.welcome-slider__arrow {
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

.welcome-slider__arrow:hover {
    cursor: pointer;
    .arrow-nav-trans {
        transition: 1s;
    }

    .arrow-navigation path {
        fill: #9d8665;
    }
}

.navigation-left {
    margin: 0 10px 0 0;
}

.navigation-right {
    margin: 0 68px 0 0;
}

.underline-title {
    position: relative;
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

.visiting-section {
    padding-bottom: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 60px;
    margin-top: 104px;
}

.one-card {
    font-family: "Roboto Thin";
    font-size: 22px;
    font-weight: 100;
    color: #000000;

    .underline-title::after {
        bottom: -12px;
        right: 140px;
        height: 2px;
        transition: 1s;
    }
}

.one-card:hover {
    .underline-title::after {
        right: 0;
    }
}

.visiting-title {
    margin-top: 19px;
    font-family: "Forum Regular";
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting-subtitle {
    margin: -10px 0 -9px 0;
}

.visiting-text {
    font-size: 18px;
    margin-bottom: 74px;
}

.explore-section {
    padding: 76px 0 75px 0;
}

.explore-container {
    display: flex;
    position: relative;
    justify-content: space-between;

    span {
        color: #9D8665;
    }

    .underline-title::after {
        bottom: -29px;
    }
}

.explore-content__text {
    margin-bottom: 25px;
    line-height: 39px;
    font-family: "Roboto Light";
    font-size: 22px;
    font-weight: 300;
}

.explore-content__text2 {
    margin-top: 24px;
}

.explore-content__text1 {
    margin: 104px 0 0 0;
}

.explore-img-container {
    position: relative;
    width: 720px;
    height: 700px;
    margin-top: 37px;
}

.img-explore {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-explore img {
    display: block;
    vertical-align: middle;
    height: inherit;
}

.img-explore:nth-child(1) img {
    width: 100%;
}

.separator-container {
    position: absolute;
    left: 58.5%;
    top: 0;
    width: auto;
    height: 100%;
    z-index: 5;
    cursor: ew-resize;
}

.separator-container img {
    height: inherit;
}

.video-content {
    display: flex;
    align-items: center;
    column-gap: 115px;
    margin-bottom: 76px;
}

.video-title {
    white-space: nowrap;
}

.video-subtitle {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 39px;
    color: #000000;
}

.paralax {
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/parallax.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}
img[data-src] {
    opacity: 0;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .explore-container {
        br {
            display: none;
        }

        display: flex;
        flex-direction: column;
        padding: 0 20px;
        max-width: 1440px;

        .title {
            margin-top: 10px;
        }

        .underline-title:after {
            bottom: -33px;
        }

        .explore-content__text1 {
            margin-top: 93px;
        }

        .explore-content__text2 {
            margin-top: 0;
            line-height: 35px;
        }

        .explore-img-container {
            width: 85%;
            align-self: center;
            height: calc(100vw - 250px);

            .explore-img {
                position: absolute;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .explore-img__half {
                width: 61.2%;
            }

            .separator {
                left: 58.5%;
                width: 5.42%;
            }
        }
    }

    .tickets-content__img {
        margin-right: 20px;
    }
}

@media (max-width: 1024px) {

    .container {
        max-width: 984px;
    }

    .header-container {
        padding: 60px 20px;
    }

    .section {
        padding: 60px 20px 60px 20px;
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 24px;
    }

    .welcome__container {
        padding-bottom: 1px;
        height: 524px;

        .welcome-title {
            margin: -11px 0 24px 0;
            line-height: 90px;
        }

        .welcome-subtitle {
            margin: 0 0 50px 0;
        }

        .welcome-button {
            font-size: 20px;
            width: 300px;
            height: 60px;
        }

        .welcome__content {
            margin-top: 60px;
        }

        .img-container {
            width: calc(100% - 304px);
            margin-top: -60px;

            .slider-gradient {
                left: 304px;

                .slider-img {
                    height: 521px;
                }
            }
        }

        .welcome-slider {
            position: absolute;
            right: 0;
            padding: 48px 20px 0 500px;
            font-size: 20px;

            .welcome-slider__navigation {
                width: 12px;
                height: 12px;
                margin-left: 25px;
            }

            .navigation-one {
                margin-left: 45px;
            }

            .navigation-five {
                margin-right: 38px;
            }
        }

    }

    .visiting-section {
        padding-bottom: 0;

        .underline-title:after {
            bottom: -23px;
        }

        .virtual-title {
            line-height: 75px;
        }

        .cards {
            gap: 0 108px;
            margin-top: 83px;

            .one-card__img {
                width: 330px;
                height: 215px;
            }

            .visiting-title {
                font-size: 28px;
            }

            .one-card .underline-title:after {
                bottom: -12px;
                width: 150px;
            }

            .visiting-subtitle {
                font-size: 20px;
                margin: -7px 0 -6px 0;
            }

            .visiting-text {
                font-size: 16px;
                margin-bottom: 60px;
            }

            .visiting-title {
                letter-spacing: 3px;
            }
        }
    }

    .explore-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        br {
            display: none;
        }

        .title {
            margin-top: 10px;
        }

        .underline-title:after {
            bottom: -33px;
        }

        .explore-content__text:last-child {
            display: none;
        }

        .explore-content__text {
            font-size: 20px;
        }

        .explore-content__text1 {
            margin-top: 93px;
        }

        .explore-content__text2 {
            margin-top: 0;
            line-height: 35px;
        }

        .explore-img {
            position: absolute;
        }
    }

    .paralax {
        left: calc(50% - 1024px/2);
    }
}

@media (max-width: 1023px) and (min-width: 769px) {

    .welcome__container {
        .welcome-slider {
            padding: 48px 0 0 0;
        }
    }
}

@media (max-width: 768px) {
    .music {
        height: 25px;
    }

    .current-date {
        font-size: 18px;
    }

    .container {
        max-width: 728px;
    }

    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 20px;
    }

    .logo {
        margin-top: -5px;
    }

    .burger {
        margin: -16px -3px 0 0 !important;
    }

    .welcome__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 785px;

        .welcome-title {
            margin: -136px 0 24px 200px;
            line-height: 60px;
        }

        .welcome-subtitle {
            margin-left: 198px;
        }

        .welcome-slider {
            width: 728px;
            justify-content: center;
            padding: 34px 20px 38px 0;
            margin: 0;
        }

        .welcome-button {
            display: none;
        }

        .img-container {
            width: 100%;

            .slider-gradient:after {
                background: none;
            }

            .slider-gradient {
                left: 0;

                .slider-img {
                    margin: 200px 0 0 0;
                    height: auto;
                }
            }
        }
    }

    .visiting-section {
        .underline-title:after {
            bottom: -13px;
        }

       .virtual-title {
           margin-top: -25px;
       }

        .cards {
            gap: 0 56px;
            margin-top: 53px;

            .one-card__img {
                width: 280px;
                height: 180px;
            }

            .visiting-title {
                font-size: 22px;
                margin-bottom: 29px;
            }

            .visiting-subtitle {
                font-size: 18px;
            }

            .visiting-text {
                font-size: 16px;
                margin-bottom: 40px;
            }

            .one-card:last-child {
                margin-bottom: 37px;
            }
        }
    }

    .explore-container {
        margin-bottom: 20px;
        align-items: normal;

        .title {
            margin-top: -13px;
        }

        .explore-content__text {
            display: none;
        }

        .explore-img {
            margin-top: 35px;
        }

        .separator {
            margin-top: 35px;
        }
    }

    .paralax {
        width: 768px;
        height: 300px;
    }
}

@media (min-width: 421px) and (max-width: 767px) {

    .welcome__container {
        height: auto;
        padding-bottom: 75px;

        .welcome__content {
            display: flex;
            flex-direction: column;
            left: 0;
            right: 0;
            margin-top: -50px;

            .welcome-title {
                margin: 0 0 20px 0;
            }

            .welcome-subtitle {
                margin: 0;
            }
        }

        .welcome-slider {
            margin: 0;
            padding: 31px 0 27px 0px;
            font-size: 16px;
            left: 0;
            right: 0;
            width: auto;

            .welcome-slider__navigation {
                width: 7px;
                height: 7px;
                margin-left: 10px;
            }

            .arrow-navigation {
                width: 20px;
            }

            .navigation-right {
                margin: 0 68px 0 0;
            }

            .navigation-left {
                margin: 0 4px 0 0;
            }

            .navigation-five {
                margin-right: 18px;
            }

            .navigation-one {
                margin-left: 25px;
            }

            .slide-count-separator {
                margin: 0 5px 0 5px;
            }
        }
    }

    .explore-section {
        padding-bottom: 30px;
    }

    .explore-img-container {
        width: 100%;
        height: calc(100vw - 60px);
        margin-top: 90px;
        .explore-img {
            width: 100%;
        }

        .explore-img__half {
            width: 61%;
        }

        .explore-img img {
            width: 100%;
        }

        .separator {
            width: 5.4%;
            left: 58.5%;
        }
    }

    .paralax {
        max-width: 100vw;
        height: 300px;
    }
}

@media (max-width: 420px) {
    .current-date {
        font-size: 12px;
    }

    .music {
        width: 100px;
        height: 20px;
    }

    .music-left, .music-right, .music-play {
        margin-left: 0;
    }

    .music-left img, .music-play img, .music-right img {
        width: 10px;
    }

    .container {
        max-width: 380px;
    }

    .section {
        padding: 40px 20px 40px 20px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle, .logo .logo__name {
        font-size: 16px;
    }

    .logo {
        margin-top: -13px;
    }

    .burger {
        margin: -17px -3px 0 0 !important;
    }

    .logo__img .social-icon {
        width: 29px;
        height: 16px;
    }

    .welcome__container {
        height: 467px;
        padding-bottom: 21px;
        text-align: center;

        .welcome__content {
            margin: 0 22px 0 52px;
        }

        .welcome-title {
            margin: -50px 0 24px 0;
            line-height: 40px;
        }

        .welcome-subtitle {
            margin-left: 0;
        }

        .welcome-button {
            display: none;
        }

        .img-container {
            width: 100%;
            margin-top: -16px;
            left: 0;

            .slider-gradient{
                .slider-img {
                    margin: 139px 0 0 0;
                    height: auto;
                }
            }
        }

        .welcome-slider {
            margin: 0;
            padding: 27px 0 27px 0px;
            font-size: 16px;
            max-width: 420px;

            .welcome-slider__navigation {
                width: 7px;
                height: 7px;
                margin-left: 10px;
            }

            .arrow-navigation {
                width: 20px;
            }

            .navigation-right {
                margin: 0 68px 0 0;
            }

            .navigation-left {
                margin: 0 4px 0 0;
            }

            .navigation-five {
                margin-right: 18px;
            }

            .navigation-one {
                margin-left: 25px;
            }

            .slide-count-separator {
                margin: 0 5px 0 5px;
            }
        }
    }

    .visiting-section {
        padding-bottom: 0;

        .underline-title:after {
            bottom: -3px;
        }

        .virtual-title {
            margin-top: -15px;
        }

        .cards {
            margin-top: 43px;
            max-width: 380px;

            .one-card {
                width: calc(100% - 100px);
            }

            .one-card__img {
                width: 100%;
                height: auto;
            }

            .visiting-title {
                font-size: 18px;
                letter-spacing: 5px;
                margin-bottom: 30px;
            }

            .visiting-subtitle {
                font-size: 16px;
            }

            .visiting-text {
                margin-bottom: 38.5px;
            }

            .one-card .underline-title:after {
                bottom: -13px;
            }

            .one-card:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .explore-container {
        margin-bottom: 0;
        align-items: normal;
        padding-bottom: 2px;

        .title {
            margin-top: 5px;
        }

        .underline-title:after {
            bottom: -27px;
        }

        .explore-img-container {
            width: 380px;
            height: 368px;
            margin-top: 66px;
        }

        .explore-content__text {
            display: none;
        }

        .explore-img {
            margin-top: 0;
        }

        .explore-img img {
            width: 100%;
        }

        .explore-img__half img {
            width: 61.2%;
        }

        .separator {
            margin: 0 0 0px -12px;
            left: 61%;
            width: 5.42%;
        }
    }

    .paralax {
        max-width: 100vw;
        height: 300px;
    }
}

@media (max-width: 419px) {
    .container {
        max-width: 400px;
    }
    .welcome__container {
        height: calc(100vw + 50px);

        .welcome__content {
            margin: 0;
            left: 0;
            right: 0;

            .welcome-title {
                font-size: 22px;
                margin-bottom: 20px;
            }

            .welcome-subtitle {
                font-size: 16px;
            }
        }

        .welcome-slider {
            max-width: 100vw;
            left: 0;
            right: 0;
            font-size: 14px;

            .welcome-slider__navigation {
                width: 5px;
                height: 8px;
            }

            .arrow-navigation {
                width: 15px;
            }

            .navigation-right {
                margin: 0 38px 0 0;
            }

            .navigation-one {
                margin-left: 10px;
            }
        }
    }

    .explore-container {
        .explore-img-container {
            width: calc(100vw - 40px);
            height: calc(100vw - 50px);
        }

        .separator {
            left: 62%;
        }
    }

    .paralax {
        height: 200px;
    }
}