.tickets-content {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  padding-top: 103px;
  justify-content: space-between;
}

.tickets-content__img {
  width: 50%;
  margin-top: 1px;
}

.tickets-text {
  margin: 0;
  font-family: "Roboto Bold";
  font-size: 28px;
  color: #000000;
}

.tickets-type {
  margin-right: 60px;
}

.tickets-form {
  width: 270px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Light";
  font-size: 22px;
  font-weight: 300;
  color: #000000;
}

.radiobutton:first-child {
  margin-top: 50px;
}

.radiobutton {
  margin-bottom: 24px;
  transition: 0.3s;
}

.radiobutton:hover {
  color: #9D8665;
  cursor: pointer;
}

.radio-tickets {
  margin-right: 14px;
  width: 17px;
  height: 17px;
}

.tickets-amount {
  align-items: end;
}

.tickets-text__amount {
  margin: 0 0 2px 51px;
}

.amount-form {
  display: flex;
  justify-content: center;
  width: 149px;
  height: 50px;
  border: 3px #000000 solid;
  box-sizing: border-box;
  margin-bottom: -12px;
}

.amount-content {
  display: flex;
  margin-bottom: 14.5px;
}

.amount-button {
  font-family: "Roboto Regular";
  font-size: 32px;
}

.amount-button:hover {
  cursor: pointer;
  color: #9D8665;
}

.number {
  text-align: center;
  font-family: "Roboto Light";
  font-size: 22px;
  font-weight: 300;
  border: none;
  padding-left: 11px;
 }

.total-euro {
  display: flex;
  width: 180px;
}

.total {
  margin: 61px 0 60px 1px;
  font-family: "Roboto Bold";
  font-size: 28px;
  letter-spacing: 1.65px;
}

.euro {
  margin-left: 0;
  width: 65px;
  text-align: end;
}

.button-total {
  width: 175px;
  height: 50px;
  font-family: "Roboto Light";
  font-size: 22px;
  color: #FFFFFF;
  background: #000000;
  margin-left: -24px;
  letter-spacing: 2px;
  transition: 1s;
}

.button-total:hover {
  color: #000000;
  background: #9D8665;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px #000000 solid;
}

.radiobutton input:checked ~ .checkmark {
  background-color: #FFFFFF;
  width: 17px;
  height: 17px;
  border: 1px #000000 solid;
}

.radiobutton {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radiobutton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radiobutton input:checked ~ .checkmark:after {
  display: block;
}

.radiobutton .checkmark:after {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
}

@media (max-width: 1024px) {
  .tickets-section {
   .underline-title:after {
     bottom: -33px;
   }
  }

  .tickets-content {
    max-width: 984px;
  }

  .tickets-title {
    margin-top: 10px;
  }

  .tickets-content__img {
    width: calc(100% - 284px);
    height: 440px;
    margin-top: -10px;
    object-fit: cover;
  }

  .tickets-type {
    display: none;
  }

  .tickets-text__amount {
    margin: -11px 105px 7px 0;
  }

  .tickets-content {
    .amount-content {
      margin-bottom: 9px;
    }
  }

  .amount-container {
    margin: 0 29px 19px 0;
  }

  .amount-form {
    width: 175px;
  }

  .number {
    padding: 0 20px 0 20px;
  }

  .total-euro {
    margin-right: 38px;
  }

  .total {
    margin: 17px 0 69px 0;
  }

  .euro {
    margin: 17px 0 0 16px;
  }

  .button-total {
    margin-right: 29px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .tickets-content {
    max-width: 768px;
  }

  .tickets-title {
    margin-top: -14px;
  }

  .tickets-content__img {
    margin-top: -30px;
    height: max-content;
  }

  .tickets-text__amount {
    margin: -31px 125px 16px 0;
  }

  .tickets-content {
    .amount-content {
      margin: 20px 0 10px 0;
    }
  }

  .amount-container {
    margin: 0 49px 19px 0;
  }

  .total-euro {
    margin: 12px 58px 0 0;
  }

  .button-total {
    margin: -29px 49px -20px 0;
  }
}

@media (min-width: 320px) and (max-width: 555px) {
  .tickets-content {
    max-width: 555px;
    flex-direction: column;
  }

  .tickets-title {
    margin-top: 4px;
  }

  .tickets-section .underline-title:after {
    bottom: -28px;
  }

  .tickets-content__img {
    width: calc(100vw - 40px);
    height: 160px;
    margin-top: -35px;
  }

  .tickets-form {
    align-self: center;

    .amount-container {
      margin: 5px 48px 10px 0;
    }
  }

  .tickets-text__amount {
    margin: 40px 108px 0px 0;
    font-size: 16px;
  }

  .tickets-content {
    .amount-content {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  .total-euro {
    margin: 29px 95px 0 0;
  }

  .total {
    font-size: 16px;
    letter-spacing: 0;
    margin: 13px 0 69px 5px;
  }

  .button-total {
    margin: -29px 48px 0 0;
    font-size: 16px;
  }
}

